Package: com.pixelomer.superuser
Name: SuperUser
Depends: mobilesubstrate, com.rpetrich.rocketbootstrap (>= 1.0.2), firmware (>= 6.0)
Version: 0.0.2
Architecture: iphoneos-arm
Description: SuperSU for iOS
  A basic SuperSU-like tweak for iOS. Allows you to allow or deny setuid requests.
  Requires iOS 11.0 or higher.
Maintainer: PixelOmer
Author: PixelOmer
Section: Tweaks
